---
name: Regression Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
  regression:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        # renovate: datasource=github-releases depName=coreruleset/coreruleset versioning=semver
        CRS_VERSION: ['4.23.0']
        python-version: ['3.11', '3.12', '3.13']

    steps:
      - name: "Checkout repo"
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7
        with:
          enable-cache: true

      - name: Set up Python 3
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          uv sync --all-extras --dev

      - name: "Run unit tests"
        run: |
          uv run pytest -vs

      - name: "Run crs linter tests for ${{ matrix.CRS_VERSION }}"
        run: |
          curl -sSL  https://github.com/coreruleset/coreruleset/archive/refs/tags/v${{ matrix.CRS_VERSION }}.tar.gz -o - | \
           tar xzvf - \
              --strip-components=1 \
              --wildcards "*/rules/*" "*/tests/*" "*/crs-setup.conf.example" "*/util/*"

          uv run crs-linter \
            --debug \
            -o github \
            -d . \
            -r crs-setup.conf.example \
            -r 'rules/*.conf' \
            -t util/APPROVED_TAGS \
            -f util/FILENAME_EXCLUSIONS \
            -v ${{ matrix.CRS_VERSION }} \
            -T tests/regression/tests/ \
            -E util/TESTS_EXCLUSIONS
