---
name: Regression Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
  regression:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        # renovate: datasource=github-releases depName=coreruleset/coreruleset versioning=semver
        CRS_VERSION: ['4.18.0']
        python-version: ['3.11', '3.12', '3.13']

    steps:
      - name: "Checkout repo"
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7
        with:
          enable-cache: true

      - name: Set up Python 3
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          uv sync --all-extras --dev

      - name: "Run unit tests"
        run: |
          uv run pytest -vs

      - name: "Run crs linter tests for ${{ matrix.CRS_VERSION }}"
        run: |
          curl -sSL  https://github.com/coreruleset/coreruleset/archive/refs/tags/v${{ matrix.CRS_VERSION }}.tar.gz -o - | \
           tar xzvf - \
              --strip-components=1 \
              --wildcards "*/rules/*" "*/tests/*" "*/crs-setup.conf.example" "*/util/*"

          uv run crs-linter \
            --debug \
            -o github \
            -d . \
            -r crs-setup.conf.example \
            -r 'rules/*.conf' \
            -t util/APPROVED_TAGS \
            -f util/FILENAME_EXCLUSIONS \
            -v ${{ matrix.CRS_VERSION }} \
            -T tests/regression/tests/ \
            -E util/TESTS_EXCLUSIONS
