---
name: Regression Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
  regression:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        # renovate: datasource=github-releases depName=coreruleset/coreruleset
        CRS_VERSION: ['4.15.0']
        python-version: ['3.11', '3.12', '3.13']

    steps:
      - name: "Checkout repo"
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Install uv
        uses: astral-sh/setup-uv@bd01e18f51369d5a26f1651c3cb451d3417e3bba # v6
        with:
          enable-cache: true

      - name: Set up Python 3
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          uv sync --all-extras --dev

      - name: "Run unit tests"
        run: |
          uv run pytest -vs

      - name: "Run crs linter tests for ${{ matrix.CRS_VERSION }}"
        run: |
          curl -sSL  https://github.com/coreruleset/coreruleset/archive/refs/tags/v${{ matrix.CRS_VERSION }}.tar.gz -o - | \
            tar xzvf - --strip-components=1 --wildcards "*/rules/*" "*/tests/*" "*/crs-setup.conf.example"
          uv run crs-linter --debug -o github -d . -r crs-setup.conf.example -r 'rules/*.conf' -t APPROVED_TAGS -f FILENAME_EXCLUSIONS -v ${{ matrix.CRS_VERSION }} -T 'tests/regression/tests/*' -E TESTS_EXCLUSIONS
